.table-wrapper {
  overflow: auto;
  height: 80vh;
}

.table {
  border-collapse: collapse;
  border: 0;
}
th,
td {
  border: 1px solid #aaa;
}
.table__head {
  z-index: 3;
  position: relative;
}
.table__head th {
  position: sticky;
  top: 0;
}
.table__head th.depth-value {
  position: sticky;
  top: 39px ;
}
.table__head th.depth {
  position: sticky;
  top: 0 ;
  left: 230px;
}
.table__head th.pin-head:nth-child(3) {
  position: sticky;
  top: 0 ;
  left: 230px;
  height: 20px;
}
.table__head th.pin-head:nth-child(2) {
  position: sticky;
  left: 189px;
  z-index: 4;
}
.table__head th.pin-head:nth-child(1) {
  left: 0;
  z-index: 4;
  cursor: pointer;
}
.time-column-header {
  display: flex;
  align-items: center;
}
.table__body {
  z-index: 2;
  position: relative;
}
.table__body th {
  position: sticky;
  left: 0;
}
.table__body th:nth-child(2) {
  position: sticky;
  left: 189px;
}

.pin-head__depth-title {
  position: sticky;
  top: 12px;
  left: 310px;
  width: fit-content;
}